* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.about-main {
  margin-top: 12vh;
  padding: 60px 80px;
  width: 100%;
  min-height: 88vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-container {
  max-width: 900px;
  background-color: #ffffff;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.about-title {
     background-color: #ffffff;
  font-size: 32px;
  color: #1976d2;
  margin-bottom: 20px;
}

.about-content {
     background-color: #ffffff;
  font-size: 18px;
  line-height: 1.6;
  color: #444;
}
