
h1 {
  text-align: center;
  color: #333;
  margin-top: 20px;
  background-color: white;
}

.container {
  margin-top: 20vh;
  max-width: 800px;
  padding: 50px;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 30px;
  background-color: white;
}

input,
textarea {
  padding: 8px;
  border: 1px solid #ccc;
  background-color: white;
  border-radius: 4px;
  font-size: 16px;
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #45a049;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th,
td {
  border: 1px solid #ddd;
  text-align: center;
  padding: 10px;
  font-size: 15px;
}

th {
  background-color: #007bff;
  color: white;
}

.delete-btn {
  background-color: #f44336;
  padding: 5px 10px;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
}

.delete-btn:hover {
  background-color: #d32f2f;
}

/* Responsive Design */
@media (max-width: 600px) {
  .container {
    padding: 15px;
    margin: 20px;
  }

  input,
  textarea,
  button {
    font-size: 14px;
  }

  table {
    font-size: 14px;
    overflow-x: auto;
  }

  th,
  td {
    padding: 8px;
  }
}
